recursive-include genome *.py

recursive-include envs *.yaml *-deploy.sh
recursive-include genome *.smk
recursive-include workflow *.smk
include snakefile Snakefile workflow/snakefile workflow/Snakefile
